body{
    background-color: rgb(255, 255, 255) ;

}
h2 {
    color:#07294d;
}

header nav ul li{
    display: inline;
    padding: 20px;
}

header nav{
    background-color: white;
}


header div ul li{
    display: inline;
    
}